@import '../../scss/abstracts.scss';

.Menu__item {
    cursor: pointer;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: rem(5);

    font-size: rem(16);

    margin: 0 rem(20);
    padding: rem(8) rem(15);

    @include respond(tab-port) {
        margin: 0 rem(10);
    }

    &:last-child {
        margin: 0;
        margin-left: rem(20);

        @include respond(tab-port) {
            margin-left: rem(10);
        }
    }

    &:first-child {
        margin: 0;
        margin-right: rem(20);

        @include respond(tab-port) {
            margin-right: rem(10);
        }
    }
}

.Menu__item.active {
    background-color: #f2f2f2;
}
