@import './scss/abstracts.scss';
@import './scss/forms.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: rem($baseFontSize);

    @include respond(big-desktop) {
        font-size: rem(18);
    }

    @include respond(tab-land) {
        font-size: rem(14);
    }

    @include respond(tab-port) {
        font-size: rem(12);
    }
}

body {
    font-size: rem(16);
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    line-height: 1.75;
}

.link {
    color: $color-blue;
    text-decoration: none;
    cursor: pointer;

    transition: color 0.2s ease;
}

.link:hover,
.link:visited {
    color: $color-blue-dark;
}

.city {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    background-image: linear-gradient(
            to top,
            rgba($color-grey-bg, 0.75),
            rgba($color-grey-bg, 0.75)
        ),
        url('./Login.png');
    background-size: cover;

    padding: rem(40);

    @include respond(tab-port) {
        flex-direction: column;
        justify-content: space-around;
    }
}
