@import '../../scss/abstracts.scss';

.ProfileCard {
    min-width: rem(500);
    min-height: rem(300);

    background-color: $color-white;

    border-radius: rem(5);

    &__form {
        max-width: rem(1000);
    }

    &__form-text {
        text-align: center;
        font-size: rem(12);

        margin-bottom: rem(40);
    }

    &__form-title {
        font-size: rem(24);
        text-align: center;

        margin-bottom: rem(5);
    }

    &__form-row {
        display: flex;
        justify-content: space-between;

        margin-bottom: 2rem;
    }

    &__submit {
        align-self: center;
    }

    &__input {
        margin-bottom: rem(3);
    }

    &__input--short {
        max-width: 50%;
    }

    &__label {
        transform: translateY(-rem(83));
    }
}

.form-card {
    width: rem(380);
    height: rem(230);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: rem(5);
    box-shadow: 0 0 rem(15) rgba(0, 0, 0, 0.16);

    padding: rem(50) rem(30) rem(20) rem(30);

    .form-input-wrapper {
        margin-bottom: rem(25);
    }

    .form-input-wrapper:nth-child(2) {
        width: 50%;
    }

    &--front:after {
        content: '';
        display: block;
        position: absolute;
        top: rem(20);
        right: rem(30);
        width: rem(41);
        height: rem(24);

        background-image: url('./mastercard.png');
        background-size: cover;
    }

    &--back {
        margin-left: rem(32);
    }
}

.form-input-icon.cvv-input {
    mask-image: url('./visibility_off-24px.svg');
    background-color: $color-grey-bg;
}

.form-input-icon.cvv-input-visible {
    mask-image: url('./visibility-24px.svg');
    background-color: $color-grey-bg;
}
